fastapi[standard]
uvicorn
sqlalchemy
pydantic
alembic
psycopg2-binary
python-dotenv
chromadb
openai
langchain
PyJWT
python-jose[cryptography]
pypdf
requests
pytest
pytest-asyncio
httpx
pytest-cov
werkzeug